.summary-container {
    margin: 20px 20px 0 50px;
    font-family: 'Montserrat', sans-serif;

    .summary-container-inner {
        margin-left: 50px;
    }

    .AlertView-container .alerts {
        width: 100%;
    }
}

.loading-placeholder {
    font-size: 18px;
    margin: 30px 50px;
    font-family: 'Montserrat', sans-serif;
}
