.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px; 
}

.logoImg {
    width: 172px;
    height: 172px;
    background-image: url('/img/logoSquareBig.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.logoLabel {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15.7px;
    font-weight: bold;
    line-height: 12px;
    color: #f2bf58;
    position: relative;
    left: -15px;
}
