.BurgerMenu-container {
    .button-wrapper {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #4e515b;
        border-radius: 3px;
        color: #4e515b;

        &.hovered {
            cursor: pointer;
            background: #767b8b;
            color: black;
        }
    }

    .menu {
        position: absolute;
        right: 0;
        background: #767b8b;
        border: 1px solid #4e515b;
        border-radius: 3px;

        &.hidden {
            display: none;
        }

        .menu-item {
            display: flex;
            border-bottom: 1px solid #4e515b;
            color: white;
            padding: 10px;

            &:last-child {
                border-bottom: none;
            }

            label {
                display: flex;
                margin: 0;

                &:hover {
                    cursor: pointer;
                }
            }

            &:hover {
                cursor: pointer;
                background: #676c7d;
            }

            .icon {
                margin-right: 10px;
            }
        }
    }
}
