
.postFeedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submitMessage {
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 24px;
}

.feedback-popup {
    width: 80%;
}

.post-feedback {
    margin-top: 50px !important;
    height: fit-content !important;
}


.shareButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 20px;
}

.shareButton
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    gap: 10px;

    box-sizing: border-box;
    padding: 5px 10px;
    margin: 0 40px;

    border-radius: 5px;

    color: white;

    text-decoration: none;

    opacity: 0.9;
}

.shareButton:hover {
    text-decoration: none;
    color: white;
    opacity: 1.0;
}

.btnTwitter {
    background-color: #00acee;
}

.btnFb {
    background-color: #3b5998;
}

.btnLinkedIn {
    background-color: #0e76a8;
}
