.separate-container {
    background-color: #373737;
    padding: 5px 20px 10px 40px;
    margin: 10px;
}

.new-version-info {
    height: 90%;

    h3 {
        font-size: 24px;
        margin-top: 15px;
        font-weight: 700;
    }

    li {
        margin-left: 30px;
        list-style-type: "-";
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: #D1D1D1;
    }
}

.install-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}

.install-btn:hover {
    text-decoration: none;
}

.target-link {
    text-decoration: underline;
    color: inherit;
    margin-bottom: 20px;
    display: block;
    margin: 10px 0 0 30px;
    width: fit-content;
}
