.Search-wrapper {
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  height: 100%;
  overflow-y: hidden;

  .filter-box {
    display: flex;
    flex-flow: column;
    flex-basis: 15%;
    margin-right: 50px;
    margin-top: 20px;
    background: transparent;
    border: none;
    border-bottom: none;
    border-radius: 0;
    height: fit-content;
    max-height: -webkit-fill-available;
    padding-right: 1px;
    overflow-y: auto;

    .add-filter-btn {
      margin: 0 5px 10px;
    }

    button:focus, button:active {
      outline: none;
    }
  }
}

.has-success {
  display: flex;
  margin-bottom: 30px !important;

  .search-input {
    font-size: 22px;
    font-weight: 700;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
    padding: 15px;
    width: calc(100vw - 160px - 80px);

    &:focus {
      border: 1px solid yellow;
      background: transparent;
      color: #fff;
      outline: none;
    }
  }

  .clear-input-btn {
    float: right;
    border: none;
    width: 32px;
    height: 32px;
    outline: none;
    opacity: 0.6;
    font-size: 30px;
    background: url(/img/close.svg) center center no-repeat;

    &:hover {
      opacity: 0.9;
    }
  }
}

.filter-list,
.filter-list:focus,
.filter-list:active {
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 0;
  outline: none;

  details {
    border: 1px solid #ccc;
    margin: 10px 0;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }
}
.inner {
  padding-left: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:focus,
  &:active {
    outline: none;
  }

  &::-webkit-details-marker {
    order: 1;
  }

  &.is-active::after {
    content: '';
    position: relative;
    display: flex;
    margin: 0 10px 0 auto;
    border: 6px solid #f2a81c;
    border-radius: 10px;
  }
}

.inner-items {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;

  > button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #35373e;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    color: #fff;

    &::before {
      content: '';
      display: inline-block;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #adb5bd;
      border-radius: 0.25em;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }

    &:hover {
      background-color: #4d505a;
    }

    &:focus {
      border-bottom: 1px solid #ccc;
      outline: none;
    }
  }

  .filter-input-box {
    margin-bottom: 10px;
    background: #35373e;
    display: flex;
    flex-direction: column;

    label {
      font-size: 16px;
      margin: 0 0 0 5px;
    }

    input {
      margin: 0 5px;
    }

    & input:last-child {
      margin-bottom: 10px;
    }

    button {
      margin: 5px;
      align-self: flex-end;
    }
  }

  .selected-filter {
    background-color: #acacac;

    &::before {
      border-color: #0b76ef;
      background-color: #0b76ef;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }

    &:hover {
      background-color: #969696;
    }
  }
}

.active-filters {
  position: absolute;
  top: 100px;
  display: flex;

  .active-filter-box {
    padding: 0 0 0 10px;
    border-radius: 2px;
    color: black;
    background-color: #ccc;
    display: flex;
    margin: 0 10px;
    font-weight: 600;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;

    .filter-key {
      padding-right: 5px;
      font-weight: 800;
      text-transform: capitalize;
    }

    .filter-del-btn {
      display: flex;
      background: #8d8d8d;
      color: black;
      padding: 0 3px;
      margin-left: 10px;
      font-size: 26px;
      line-height: 26px;
      font-weight: 600;
      border-radius: 0 2px 2px 0;
      border: none;
    }

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      .filter-del-btn {
        background: #f2a81c;

        &:hover {
          background: #ffbd44;
        }

        &:focus, &:active {
          outline: none;
        }
      }
    }
  }
}

.search-results {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 80%;
  overflow-y: auto;

  .result-placeholder {
    font-family: 'Montserrat';
    font-size: 20px;
  }
}

.search-results .dn-logo {
  float: left;
}

.search-results .dn-path {
  font-size: 14pt;
}

.search-results .dn-path span {
  margin: 0 6px 0 0;
  line-height: 33px;
}

.search-results .dn-path span.separator {
  width: 6px;
  padding: 0 3px;
}

.search-results .dn-path .kind {
  font-size: 10pt;
}

button:focus {
  outline: none;
}
