.Search-wrapper {
  display: flex;
  flex-direction: column;
}

.search-area {
  display: flex;
  height: 100%;

  .filter-box {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 15%;
    margin-right: 50px;
    margin-top: 20px;
    background-color: #35373E;
    border: 1px solid #CCC;
    border-bottom: none;
    border-radius: 0;
    height: fit-content;
  }
}

.has-success {
  display: flex;

  .search-input {
    font-size: 22px;
    font-weight: 700;
    background: transparent;
    border: 1px solid #CCC;
    border-radius: 0;
    color: #FFF;
    padding: 15px;
    width: calc(100vw - 160px - 80px);

    &:focus {
      border: 1px solid yellow;
      background: transparent;
      color: #FFF;
      outline: none;
    }
  }

  .clear-input-btn {
    float: right;
    border: none;
    width: 32px;
    height: 32px;
    outline: none;
    opacity: 0.6;
    font-size: 30px;
    background: url(/img/close.svg) center center no-repeat;

    &:hover {
      opacity: 0.9;
    }
  }
}

.filter-list, .filter-list:focus, .filter-list:active {
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #CCC;
  border-radius: 0;
  background: #1C1C1F;
  outline: none;
}
.inner {
  padding-left: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;

  &:focus, &:active {
    border: 1px solid #CCC;
    border-radius: 0;
    outline: none;
  }
}

.inner-items {
  display: flex;
  flex-direction: column;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35373E;
    border: none;
    border-bottom: 1px solid #CCC;
    padding: 5px;
    color: #FFF;

    &:hover {
    background-color: #4D505A;

    }

    &:focus {
      border-bottom: 1px solid #CCC;
      outline: none;
    }
  }

  .selected-filter {
    background-color: #CCC;

    &::before {
      content: '';
      border: 5px solid white;
      border-radius: 20px;
      margin-right: -10px;
      position: relative;
      right: 30px;
    }

    &:hover {
      background-color: #969696;
    }
  }
}

.user-tip {
  position: absolute;
  top: 55px;
  right: 80px;
  font-size: 14px;
  color: #AAA;
  font-family: 'Montserrat';
}

.search-results {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 80%;

  .result-placeholder {
    font-family: 'Montserrat';
    font-size: 20px;
  }
}

.search-results .dn-logo {
  float: left;
}

.search-results .dn-path {
  font-size: 14pt;
}

.search-results .dn-path span {
  margin: 0 6px 0 0;
  line-height: 33px;
}

.search-results .dn-path span.separator {
  width: 6px;
  padding: 0 3px;
}

.search-results .dn-path .kind {
  font-size: 10pt;
}

button:focus {
  outline: none;
}
