.ErrorBox-container {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 1000;
    background: #e24c4b;
    color: white;
    padding: 5px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50%;

    .error {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .more-text {
        margin-left: 20px;
        background: white;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        color: #e24c4b;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;

        &:hover {
            cursor: pointer;
        }
    }

    .full-error-container {
        padding: 10px 0;
        margin-top: 10px;
        background: #e24c4b;
        color: white;
        border-top: 1px solid white;

        .retry {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
}
