<!doctype html>
<html lang="en">

<head>
    <%- include('partials/head.html') %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png">

    <!-- CSS Fonts -->
    <link rel="stylesheet" href="css/fonts.css" />

    <!-- BEGIN VENDOR CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="vendor/golden-layout/goldenlayout-base.css" />
    <link rel="stylesheet" href="vendor/hljs/styles/obsidian.css" />
    <link rel="stylesheet" href="vendor/d3-tip/styles.css" />
    <link rel="stylesheet" href="vendor/codemirror/codemirror.min.css" />
    <link rel="stylesheet" href="vendor/codemirror/darcula-theme.css" />
    <link rel="stylesheet" href="vendor/codemirror/addon/hint/show-hint.css" />
    <!-- END VENDOR CSS -->
    
    <!-- BEGIN KUBEVIOUS CSS -->
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/goldenlayout.css" />
    <link rel="stylesheet" href="css/diagram.css" />
    <link rel="stylesheet" href="css/properties.css" />
    <link rel="stylesheet" href="css/bottom-panel.css" />
    <link rel="stylesheet" href="css/timeline.css" />
    <link rel="stylesheet" href="css/popup.css" />
    <link rel="stylesheet" href="css/scroll.css" />
    <link rel="stylesheet" href="css/search.css" />
    <link rel="stylesheet" href="css/policy.css" />
    <!-- END KUBEVIOUS CSS -->

    <title>Kubevious</title>
</head>

<body>

<div class="wrapper">
    <div class="header">
        <div class="logo"></div>

        <div id="history-info" class="history-info">
            
        </div>

        <div class="actions">
            <a href="https://github.com/kubevious/kubevious/issues/new/choose" target="_blank" class="btn btn-bug"></a>
            <a href="https://kubevious.slack.com" target="_blank" class="btn btn-slack"></a>
            <a href="https://github.com/kubevious/kubevious" target="_blank" class="btn btn-github"></a>
            <button id="btnHeaderAbout" type="button" class="btn btn-about"></button>
            <button id="btnHeaderSearch" type="button" class="btn btn-search"></button>
            <a target="_blank" class="btn btn-settings">
                <span id="tool-windows-menu" class="settings-menu">
                </span>
            </a>
        </div>
    </div>

    <div id="layout-content">
    </div>

</div>

<div class="mobile-wrapper">
    <div class="logo"></div>
    <div class="available-msg">
        Sorry!<br /><br />
        Kubevious works with Desktop browsers only.<br /><br />
        <a href="https://kubevious.io/youtube.html" class="link-cta">See Demo in Youtube</a>
    </div>
</div>
    
</body>

<!-- BEGIN VENDOR SCRIPTS -->
<script src="vendor/jquery/jquery-3.2.1.slim.min.js" ></script>
<!-- <script src="vendor/jquery/jquery-migrate-3.1.0.min.js" ></script> -->
<script src="vendor/moment/moment.min.js" ></script>
<script src="vendor/popper/popper.min.js" ></script>
<script src="vendor/bootstrap/bootstrap.min.js" ></script>
<script src="vendor/js-logger/logger.min.js"></script>
<script src="vendor/lodash/lodash.min.js"></script>
<script src="vendor/d3/d3.min.js" type="text/javascript" ></script>
<script src="vendor/js-yaml/js-yaml.min.js" type="text/javascript" ></script>
<script src="vendor/handlebars/handlebars.min-v4.5.3.js"></script>
<script src="vendor/axios/axios.min.js"></script>
<script src="vendor/css-element-queries-1.2.1/ResizeSensor.js"></script>
<script src="vendor/css-element-queries-1.2.1/ElementQueries.js"></script>
<script src="vendor/hljs/highlight.pack.js"></script>
<script src='vendor/bin-packing/packer.growing.js'></script>
<script src="vendor/golden-layout/goldenlayout.min.js"></script>
<script src="vendor/d3-tip/index.js" type="text/javascript" ></script>
<script src="vendor/codemirror/codemirror.min.js" type="text/javascript" ></script>
<script src="vendor/codemirror/javascript-mode.js" type="text/javascript" ></script>
<script src="vendor/codemirror/addon/hint/javascript-hint.js" type="text/javascript" ></script>
<script src="vendor/codemirror/addon/hint/show-hint.js" type="text/javascript" ></script>
<!-- END VENDOR SCRIPTS -->

<!-- BEGIN KUBEVIOUS SCRIPTS -->
<script src="js/logging.js"></script>
<script src="js/menu.js"></script>
<script src="js/layout.js"></script>
<script src="docs.js"></script>
<script src="js/naming-utils.js"></script>
<script src="js/utils.js"></script>
<script src="js/ui-generators.js"></script>
<script src="js/font-size-calc.js"></script>
<script src="js/visual-node.js"></script>
<script src="js/visual-view.js"></script>

<%if (process.env.MOCK_BACKEND) {%>
    <script src="js/data-mock.js"></script>
<%} else {%>
    <script src="js/client.js"></script>
    <script src="js/data.js"></script>
<%}%>

<script src="js/history.js"></script>
<script src="js/history-view.js"></script>
<script src="js/property-pane.js"></script>
<script src="js/logs-pane.js"></script>
<script src="js/diagram.js"></script>
<script src="js/ui.js"></script>
<script src="js/popup.js"></script>
<script src="js/search.js"></script>
<script src="js/about.js"></script>
<script src="js/policy-editor.js"></script>
<!-- END KUBEVIOUS SCRIPTS -->

<%- watchScript %>

</html>
