.bottom-panel{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:200px;
    overflow: auto;
}
.logbarcloaser{
    display: block;
    width:100%;
    height:10px;
    position:absolute;
    top:0px;
    left:0;
    right: 0px;
    margin:0;
    background:#35373E url("../img/logbarexpander.svg") center center no-repeat;
    z-index: 20;
    cursor: pointer;
}

.bottom-panel .nav-tabs{border-bottom:1px solid #35373E; padding:15px 5px 5px;}
.bottom-panel .nav-tabs li a{
    float: left;
    margin: 0 5px 0 0;
    border:1px solid #35373E;
    border-radius:0px;
    padding:5px 10px 3px;
    color: #FFF;
    font-size: 12px;
}
.bottom-panel .nav-tabs li a:before{
    content:"";
    display: block;
    width: 16px; height: 16px; float: left; margin: 0 10px 0 0;
}
.bottom-panel .nav-tabs li.ui-logs a:before{
    background: url("../img/windows/ui-logs.svg");
    background-size: contain
}
.bottom-panel .nav-tabs li.logs a:before{
    background: url("../img/windows/logs.svg");
    background-size: contain
}
.bottom-panel .nav-tabs li.events a:before{
    background: url("../img/windows/events.svg");
    background-size: contain
}
.bottom-panel .nav-tabs li.alerts a:before{
    background: url("../img/filters-ico.svg") 0 0 no-repeat;
}
.bottom-panel .nav-tabs li.warnings a:before{
    background: url("../img/filters-ico.svg") -16px 0 no-repeat;
}
.bottom-panel .nav-tabs li a.active{
    border:1px solid #FFF;
    background: none;
    color: #FFF;
}

.table-dark pre {
    color: white;
}

.bottom-panel.hide{display:none;}
.resetlogbar{background:#35373E; padding:3px 15px; color: #FFF; position: absolute; left: 30px; bottom: 0px; display: none; cursor: pointer;}
.resetlogbar.show{display: block;}


/** ALERTS **/
.alert-item {
    width: 16px;
    height: 16px;
    background-size: contain;
}
.alert-item.warn {
    background-image: url("../img/alerts/warn.svg");
}
.alert-item.error {
    background-image: url("../img/alerts/error.svg");
}
.alert-item.info {
    background-image: url("../img/alerts/info.svg");
}