.node .node-title-kind {
    font-family: 'Roboto';
    font: 10px sans-serif;
    font-weight: 600;
    fill: #FFFFFFAA;
}
.node .node-title-name {
    font-family: 'Roboto';
    font: 14px sans-serif;
    font-weight: 600;
    fill: #FFFFFF;
}

.selected .node-title-kind {
    fill: #222222;
}
.selected .node-title-name {
    fill: #222222;
}

.node .node-severity-text {
    font-family: 'Roboto';
    font: 14px sans-serif;
    font-weight: 600;
    fill: #ffffff;
}

.node text {
    cursor: default;
}

.preview {
    fill-opacity: 0.75;
}

.preview-full-rect {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}

.preview-visible-rect {
    fill: white;
    stroke: black;
    stroke-width: 1px;
    fill-opacity: 0.5;
}



