#policy {
    display: flex;
}

#policy-list {
    width: 250px;
    background: #35373E;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

#policy-editor {
    width: 100%;
}

.policy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid #4E515B;
    color: black;
}

.start-new-policy-btn {
    border: none;
    margin-top: 20px;
    background: #4ECD77;
    color: white;
    padding: 10px 40px;
}

.new-policy-btn {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 20px;
    background: none;
    color: white;
}

.circle-btn {
    background: #4ECD77;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.policies {
    display: flex;
    flex-direction: column;
}

.policy-item-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid #4E515B;
    text-align: left;
}

.policy-item-button.selected {
    background: #1E1E1E;
}

.indicator {
    width: 7px;
    height: 7px;
    background: #4E515B;
    border-radius: 50%;
}

.indicator.enabled {
    background: #4ECD77;
}

.policy-container {
    overflow-y: scroll;
    height: 100%;
    padding: 50px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.field-input {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    background: #35373E;
    border: 1px solid #4E515B;
    color: white;
}

.CodeMirror.cm-s-darcula {
    background: #35373E;
    border: 1px solid #4E515B;
}

.required-field {
    border: 1px solid red;
}

.btn-group {
    display: flex;
}

.policy-btn {
    margin-right: 10px;
    background: inherit;
    border: 1px solid #4E515B;
    border-radius: 3px;
    padding: 10px 30px;
    color: #4E515B;
    outline: none;
}

.policy-btn.save-btn {
    background: #4ECD77;
    color: white;
}

.policy-btn:hover {
    cursor: pointer;;
}

.start-policy-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-text {
    text-align: center;
    margin: 20px 0;
}

.start-btn-wrapper {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
    border: 5px solid #4E515B;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #4ECD77;
    border: 5px solid #4E515B;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.list-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

input[type="file"] {
    display: none;
}
.file-upload {
    border: none;
    background: #0EFB5F;
    color: white;
    margin: 0 20px 0 0;
    padding: 5px 15px;
}

.menu-btn {
    border: none;
    background: #0EFB5F;
    color: white;
    padding: 5px 15px;
}

.menu-btn:hover {
    cursor: pointer;
}

.policy-item-button:hover, .new-policy-btn:hover, .start-new-policy-btn:hover, .file-upload:hover {
    cursor: pointer;
}

.btn:disabled:hover {
    cursor: not-allowed;
}
