.popup {
    position: absolute;
    z-index: 1000;
    left:80px;
    right:80px;
    top:80px;
    bottom:80px;
    border:solid 1px #999;
    background: #35373E;
    overflow:hidden;
}
.popup:before{
    content: "";
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 0;
    background:rgba(0,0,0,0.8);
}

.popup .popup-header {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    padding:40px;
    overflow:hidden;
}
.popup .popup-header  .form-group{margin: 0px;}

.popup .popup-contents {
    position: absolute;
    left:0px;
    right:0px;
    top:100px;
    bottom:0px;
    padding:10px 40px 40px;
    overflow:auto;
}

.popup .close {
    background: url("../img/close.svg");
    width: 32px;
    height: 32px;
    position:absolute;
    top:15px;
    right:15px;
}