.popup {
    position: absolute;
    z-index: 1000;
    left:80px;
    right:80px;
    top:80px;
    bottom:80px;
    border: 1px solid #35373E;
    background: #1E1E1E;
    overflow:hidden;
}
.popup:before{
    content: "";
    position: absolute;
    top:-80px;
    bottom:-80px;
    left: -80px;
    right: -80px;
    z-index: 0;
    background:rgba(0,0,0,0.8);
}

.popup .popup-header {
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    padding:40px;
    height:100px;
    overflow:hidden;
}

.popup .popup-contents {
    position: absolute;
    left:0px;
    right:0px;
    top:100px;
    bottom:0px;
    padding:40px;
    overflow:auto;
}

.popup .close {
    background: url("../img/close.svg");
    width: 32px;
    height: 32px;
    position:absolute;
    top:15px;
    right:15px;
}