.properties .target {
    font-family: 'Roboto';
    font: 12px sans-serif;
    color: #FFF;
    margin:0 0 15px;
    font-weight: 400;
}
.properties .target .kind {
    font: 14px sans-serif;
    font-weight: 400;
}
.properties .target .separator {
    font: 14px sans-serif;
    font-weight: 400;
}
.properties .target .name {
    font: 14px sans-serif;
    font-weight: 800;
}

/******* ENVIRONMENT VARIABLES *********/

.environment-variable {
    font-family: 'Roboto';
    font: 12px sans-serif;
    padding-top: 5px;
}

.environment-variable .name{
    font-weight: 600;
}

.environment-variable .value {
    margin-left: 30px;
}

/***************************************/

/****** EXPANDER BEGIN **********/
.expander {
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    background:#35373E;
    color: #FFF;
    cursor: pointer;
    padding:15px 15px 14px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    line-height: 1;
  }
.property-group{margin: 0 0 15px;}
  
  .expander-contents {
    padding:15px;
    display: none;
    overflow: hidden;
      border:solid 2px #35373E;
      color: #FFF;
  }
  pre{color: #FFF;}

  .expander-open {
    display: block;
  }

  .expander:after {
   content: ''; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
      display: block;
      width: 10px; height: 10px;
      border: solid #FFF;
      border-width: 1px 1px 0 0;
      transform: rotate(135deg);
      margin:0;

  }
  
  .active:after {
      display: block;
      width: 10px; height: 10px;
      border: solid #FFF;
      border-width: 1px 1px 0 0;
      transform: rotate(-45deg);
      margin:5px 0 0;
  }
/****** EXPANDER END **********/
