/***************************************/

.properties-owner {
    background: #35373E;
    padding: 15px;
    margin-bottom: 15px;
}

.properties-owner .dn-path {
    font-size: 13px;
}
.properties-owner .dn-path .kind {
    font-size:11px;
}
.properties-owner .dn-path span{
  margin: 0 4px 0 0;
  line-height: 20px;
}

/***************************************/

.property-group .dn-path span {
  line-height: 25px;
}

/***************************************/

.environment-variable {
    font-family: 'Roboto';
    font: 12px sans-serif;
    padding-top: 5px;
}

.environment-variable .name{
    font-weight: 600;
}

.environment-variable .value {
    margin-left: 30px;
}

/***************************************/

/****** EXPANDER BEGIN **********/
.expander {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    background:#35373E;
    color: #FFF;
    cursor: pointer;
    padding:15px 15px 14px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    line-height:20px;
  }

.expander-popup {
    width: 16px;
    height: 16px;
}

.property-group{margin: 0 0 15px;}
  
.expander-contents {
    padding:15px;
    display: none;
    overflow: hidden;
    border-right:solid 2px #35373E;
    color: #FFF;
}
pre{
  color: #FFF;
  margin:0px;
}

  .expander-open {
    display: block;
    margin:-2px 0 0;
  }

  .openclose{display: block; float: right; width: 20px; height: 20px; background:#292A2F; border-radius: 2px;}

  .expander .openclose:after {
   content: ''; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
      display: block;
      width:8px; height:8px;
      border: solid #FFF;
      border-width: 1px 1px 0 0;
      transform: rotate(135deg);
      margin:4px 6px 0 0;

  }

.expander.active .openclose:after{
      display: block;
      border: solid #FFF;
      border-width: 1px 1px 0 0;
      transform: rotate(-45deg);
      margin:8px 6px 0 0;
  }

.sidebar{
    position: absolute;
    right:0px;
    top:60px;
    bottom: 0px;
    width: 370px;
    padding:15px 15px 15px 25px;
    z-index: 10;
    overflow: auto;
}
.sidebarcloaser{
    display: block;
    width:10px;
    height:100%;
    position:absolute;
    top:0px;
    left:0;
    right: 0px;
    margin:0;
    background:#35373E url("../img/sidebarexpander.svg") center center no-repeat;
    z-index: 20;
    cursor: pointer;
}
.sidebar.hide{display:none;}
.resetsidebar{background:#35373E; padding:3px 15px; color: #FFF; position: absolute; right:-44px; top:130px; display: none; cursor: pointer;transform: rotate(-90deg); z-index: 20;}
.resetsidebar.show{display: block;}

.popup-expander{display: block; float: right; margin:0 10px 0 0; width:20px; height:20px; border-radius: 2px; background:#292A2F url("../img/popup.svg") center center no-repeat; background-size:12px;border:0px;}
.popup-expander:hover{opacity:1;}
/****** EXPANDER END **********/

