#rule {
    display: flex;
}

#rule-list {
    width: 270px;
    background: #35373E;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

#rule-editor {
    width: 100%;
}

.rule-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 1px solid #4E515B;
    color: black;
}

.remove-btn {
    background: none;
    border: none;
}

.start-new-rule-btn {
    border: none;
    background: #4ECD77;
    color: white;
    padding: 10px 40px;
}

.new-rule-btn {
    display: flex;
    align-items: center;
    border: none;
    margin-top: 20px;
    background: none;
    color: white;
}

.circle-btn {
    background: #4ECD77;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.rules {
    display: flex;
    flex-direction: column;
}

.rule-item-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    color: white;
    padding: 10px 15px;
    border-bottom: 1px solid #4E515B;
    text-align: left;
}

.rule-item-button.selected {
    background: #1E1E1E;
}

.indicator {
    width: 7px;
    height: 7px;
    background: #4E515B;
    border-radius: 50%;
}

.indicator.enabled {
    background: #4ECD77;
}

.rule-container {
    overflow-y: scroll;
    height: 100%;
    padding: 50px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.field-input {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    background: #35373E;
    border: 1px solid #4E515B;
    color: white;
}

.CodeMirror.cm-s-darcula {
    background: #35373E;
    border: 1px solid #4E515B;
}

.required-field {
    border: 1px solid red;
}

.btn-group {
    display: flex;
}

.rule-btn {
    margin-right: 10px;
    background: inherit;
    border: 1px solid #4E515B;
    border-radius: 3px;
    padding: 10px 30px;
    color: #4E515B;
    outline: none;
}

.rule-btn.save-btn {
    background: #4ECD77;
    color: white;
}

.rule-btn:hover {
    cursor: pointer;;
}

.start-rule-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-text {
    text-align: center;
    margin: 20px 0;
}

.start-btn-wrapper {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
    border: 5px solid #4E515B;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #4ECD77;
    border: 5px solid #4E515B;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.list-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

input[type="file"] {
    display: none;
}
.file-upload {
    display: flex;
    justify-content: space-between;
    border: none;
    background: #0EFB5F;
    color: white;
    margin: 0 0 0 20px;
}

.label-text {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-arrow {
    position: relative;
    width: 30px;
    height: 31px;
    background: #149B21;
}

.label-arrow:after {
    content: "";
    top: 10px;
    left: 9px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid white;
}

#import-container {
    position: absolute;
    top: 36px;
    width: 108px;
    right: 4px;
    background: #D6D6D6;
    color: black;
}

.option:first-child {
    border-bottom: 1px solid #4E515B;
}

.option:hover {
    cursor: pointer;
}

.option-btn {
    border: none;
    background: none;
}

.option-desc {
    font-size: 12px;
    padding: 0 5px;
}

.menu-btn {
    border: none;
    background: #0EFB5F;
    color: white;
    padding: 5px 15px;
}

.editor-title {
    font-size: 30px;
    margin-bottom: 25px;
}

.rule-summary-box {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #35373E;
}

.summary-title {
    font-size: 16px;
}

.summary-value {
    font-size: 96px;
}

.rule-item-button:hover, .new-rule-btn:hover, .start-new-rule-btn:hover, .file-upload:hover,
.remove-btn:hover, .menu-btn:hover, .title:hover {
    cursor: pointer;
}

.btn:disabled:hover {
    cursor: not-allowed;
}
