.scrollbar {
    width:100%;
    border: solid #35373E;
    border-width: 0 2px 2px;
    overflow-y: scroll;
    max-height: 300px;
}

.expander{padding: 15px 15px 12px; transition: none;}
.expander.active{padding: 15px 15px 14px; transition: none;}

 .scrollbar.dark::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #666;
}
.scrollbar.dark::-webkit-scrollbar
{
    width: 6px;
    background-color: #F5F5F5;
}
.scrollbar.dark::-webkit-scrollbar-thumb
{
    background-color: #333;
}