.search-input {
    font-size: 18pt;
    font-weight: 800;
}

.search-results {
    position: absolute;
    top: 120px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.search-result {
    background: #35373E;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.search-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.search-results .dn-path {
    font-size: 14pt;
}