.search-input {
    font-size: 18pt;
    font-weight: 800;
}

.search-results {
    position: absolute;
    top: 120px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.search-results .dn-path {
    font-size: 14pt;
}
.search-results .dn-path .kind {
    font-size: 10pt;
}