html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #1E1E1E;
    color: #FFF;
}

div {
    box-sizing: border-box;
}

.wrapper {
    min-height: 100%;
    position: relative;
    background: #000;
}

.header {
    height: 60px;
    width: 100%;
    background: #35373E;
}

#layout-content {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #35373E;
}

.size-to-parent {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.content-body {
    min-height: calc(100vh - 60px);
    position: absolute;
    top: 60px;
    left: 0px;
    right: 370px;
    z-index: 10;
}

.diagram svg {
    width: 100%;
    min-height: 100%;
}

.content-body.full {
    right: 30px;
}

.diagram.full {
    bottom: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.logo {
    width: 190px;
    height: 30px;
    margin: 15px;
    background: url("../img/logo.svg") left top no-repeat;
    background-size: 100%;
    float: left;
}

button:focus {
    outline: none;
}

.temporary {
    display: none;
}

.history-info span {
    display: inline-block;
}

.history-info span:before {
    content: "";
    float: left;
    width: 24px;
    height: 24px;
    background: url(../img/alerts/warn.svg) left top;
    margin: -3px 10px 0 0;
}

.header .history-info {
    text-align: center;
    margin: auto auto auto auto;
    display: block;
    padding-top: 22px;
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.header .actions {
    position: absolute;
    top: 18px;
    right: 18px;
}

.header .actions .btn {
    padding: 6px;
    border: none;
    background: #1d1d1d;
    border: none;
}

.header .actions .btn div {
    background-size: contain;
    width: 24px;
    height: 24px;
    opacity: 0.8;
}

.header .actions .btn div:hover {
    opacity: 1.0;
}

.header .actions .btn {
    width: 24px;
    height: 24px;
    margin: 0 0 0 15px;
    border-radius: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #35373E;
}

.header .actions .btn:hover {
    opacity: 0.5;
    transition: 0.4s ease all;
}

.header .actions .btn:active, .header .actions .btn:focus {
    opacity: 1;
    outline: 0;
}

.header .actions .btn-search, .header .actions .btn-search:active {
    background-image: url("../img/header-btns/search.svg");
}

.header .actions .btn-github, .header .actions .btn-github:active {
    background-image: url("../img/header-btns/github.svg");
}

.header .actions .btn-about, .header .actions .btn-about:active {
    background-image: url("../img/header-btns/about.svg");
}

.header .actions .btn-slack, .header .actions .btn-slack:active {
    background-image: url("../img/header-btns/slack.svg");
}

.header .actions .btn-bug, .header .actions .btn-bug:active {
    background-image: url("../img/header-btns/bug.svg");
}

.header .actions .btn-settings, .header .actions .btn-settings:active {
    background: url("../img/header-btns/settings.svg") no-repeat center center;
    background-size: 20px;
}

.header .actions .btn-settings {
    position: relative;
}

.settings-menu {
    width: 250px;
    display: none;
    padding: 18px 1px 1px;
    position: absolute;
    top: 24px;
    right: 0px;
    z-index: 100;
    background: #35373E;
    text-align: left;
}

.settings-menu .s-menu-item {
    display: block;
    padding: 6px 15px;
}

.settings-menu .s-menu-item:hover {
    background: #1E1E1E;
}

.header .actions .btn-settings:hover .settings-menu {
    display: block;
    opacity: 1;
    z-index: 100;
}

.header .actions .btn-settings:hover {
    opacity: 1;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

/*** COMMON DN PATH ***/

.dn-path {
    font-size: 12pt;
}

.dn-path img {
    display: block;
    float: left;
}

.dn-path span {
    display: block;
    float: left;
    margin: 0 4px 0 0;
    line-height: 33px;
}

.dn-path .kind {
    font-weight: 400;
    font-size: 8pt;
    color: #999;
}

.dn-path .separator {
    background: url("../img/separator.svg") center center no-repeat;
    background-size: 100%;
    text-indent: -5000px;
    width: 2px;
    padding: 0 3px;
}

/*** COMMON DN SHORTCUT ***/

.dn-shortcut {
    margin-bottom: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #666;
    cursor: pointer;
}

.dn-shortcut:hover {
    background: #35373E;
}

.dn-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.mobile-wrapper {
    display: none;
}

/* Custom checkbox */

.ccheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.ccheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: solid 1px #CCC;
}

/* On mouse-over, add a grey background color */

.ccheck:hover input~.checkmark {
    border: solid 1px #CCC;
}

/* When the checkbox is checked, add a blue background */

.ccheck input:checked~.checkmark {
    background-color: #FCBD3F;
    border: solid 1px #FCBD3F;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.ccheck input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.ccheck .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #333;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* --------------- */

.link-cta {
    display: inline-block;
    padding: 12px;
    /* width: 100%; */
    /* max-width: 240px; */
    text-align: center;
    transition: all ease 0.5s;
    border: solid 2px #FFF;
    border-radius: 25px;
    font-size: 18px;
    text-decoration: none;
    color: #FFF;
    font-weight: 400;
    /* margin: 10px 10px 0 10px; */
    background-color: #ffffff33;
}

.link-cta:hover {
    background: #FFF;
    color: #170F5E;
    transition: all ease 0.5s;
}

/* --------------- */

@media only screen and (max-width:768px) {
    .wrapper {
        display: none;
    }
    .mobile-wrapper {
        display: block;
        background: #1E1E1E;
        text-align: center;
        padding: 15px;
    }
    .mobile-wrapper .logo {
        margin: 30px auto;
        float: none;
    }
}

.available-msg {
    font-size: 24pt;
    font-weight: 800;
}