html, body {height: 100%;font-family: 'Roboto', sans-serif; font-size: 14px; font-weight: 400; background: #1E1E1E; color: #FFF;}
div{box-sizing: border-box;}
.wrapper{min-height: 100%; position: relative; background:#1E1E1E;}
.header{height: 60px; width: 100%; background:#35373E;}

.content-body{
    min-height: calc(100vh - 60px);
    position:absolute;
    top:60px;
    left:0px;
    right: 370px;
    z-index: 10;
}
.content-body.full{right:0px;}
.content-body.full svg{padding: 0 50px 0 0;}
.diagram{position: absolute; top: 0px; bottom:200px; width: 100%;}
.diagram.full{bottom:0px;}
.diagram svg{width: 100%; min-height: 100%;}
.diagram.full svg{padding-bottom:30px;}

h1, h2, h3, h4{font-family: 'Montserrat', sans-serif; font-size: 16px;}
.logo{ width:206px; height: 26px; margin:17px; background: url("../img/logo.svg") left top no-repeat; float: left;}

button:focus{outline:none;}
.temporary{ display: none;}

.header .actions {
    position: absolute;
    top:13px;
    right:13px;
}

.header .actions .btn {
    padding:6px;
    border: none;
    background:#1d1d1d;
    border: none;
}
.header .actions .btn div {
    background-size: contain;
    width:24px;
    height:24px;
    opacity:0.8;
}
.header .actions .btn div:hover {
    opacity: 1.0;
}

.header .actions .btn-search div {
    background: url("../img/search.svg") 0 0 no-repeat;
}


/*** COMMON DN PATH ***/
.dn-path {
    font-size: 12pt;
}
.dn-path .kind {
    font-weight: 400;
    font-size: 8pt;
}
.dn-path .name {
    font-weight: 800;
}
.dn-path .separator{
    color: rgb(109, 101, 101);
}

/*** COMMON DN SHORTCUT ***/
.dn-shortcut {
    background:transparent;
    margin-bottom:1px;
    padding:10px;
    border-bottom: 1px solid #666;
    cursor: pointer;
}
.dn-shortcut:hover {
    background:#35373E;
}

.dn-logo {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
