.timeline svg .changes {
    stroke: #fff;
    stroke-width: 3px;
    fill: none;
}

.timeline svg .alerts {
    fill: #b77;
    opacity: 0.8;
}

.timeline svg .selector * {
    fill: rgb(252, 189, 63);
    stroke-width: 2;
    stroke: rgb(252, 189, 63);
    cursor: pointer;
}