.timeline svg .changes {
    stroke: #fff;
    stroke-width: 3px;
    fill: none;
}

.timeline svg .alerts {
    fill: #b77;
    opacity: 0.8;
}

.timeline svg .selector * {
    fill: rgb(252, 189, 63);
    stroke-width: 2;
    stroke: rgb(252, 189, 63);
    cursor: pointer;
}

.timeline.size-to-parent{right:51px;}

.tl-actions{padding: 0 15px;border-left:solid 1px #35373E;float: right;}
.tl-actions a{display: block; width: 20px; height:20px; margin: 0 auto 5px;border-radius: 2px;}
.tl-actions a.view{background:#292A2F url('../img/view.svg') center center no-repeat; background-size:16px;}
.tl-actions a.plus{background:#292A2F url('../img/plus.svg') center center no-repeat; background-size:16px;}
.tl-actions a.minus{background:#292A2F url('../img/minus.svg') center center no-repeat; background-size:16px;}
.tl-actions a.left{background:#292A2F url('../img/left.svg') center center no-repeat; background-size:16px;}
.tl-actions a.right{background:#292A2F url('../img/right.svg') center center no-repeat; background-size:16px;}
