.RuleEditor-container {
    display: flex;
    height: 100%;
}

.no-rule {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737888;
}

#rule-list {
    width: 250px;
    background: #35373e;
    position: relative;
    height: 100%;
    overflow: hidden;
}

#rule-editor {
    min-width: calc(100% - 250px);
    max-width: calc(100% - 255px);
    position: relative;
}

.new-rule-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px !important;
    font-weight: bold;
    padding: 5px 10px !important;

    .plus {
        font-weight: bold;
        margin-right: 5px;
    }
}

.circle-btn {
    background: #4ecd77;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.rules {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 80px;
    height: calc(100% - 80px);
    overflow-y: hidden;

    &:hover {
        overflow-y: overlay;
    }

    .rule-item-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        color: #737888;
        background: none;
        padding: 10px 15px;
        border-bottom: 1px solid #4e515b;
        text-align: left;
        width: 250px;

        &:focus {
            outline: none;
        }

        .item {
            display: flex;
            align-items: center;
            color: white;
        }
    }
}

.rules.markers {
    .rule-item-button {
        justify-content: space-between;
        color: #737888;

        .shape-wrapper {
            min-width: 30px;
            margin-right: 15px;
        }

        i {
            font-size: 24px;
        }

        .item {
            color: white;
        }
    }
}

.rule-item-button.selected {
    background: #1e1e1e;
}

.indicators {
    display: flex;
    align-items: center;
}

.indicator {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 10px;
}

.indicator.enabled {
    background: #4ecd77;
}

.indicator.disabled {
    background: #4e515b;
}

.indicator.invalid {
    background: rgb(197, 6, 6);
}

.rule-container {
    overflow-y: hidden;
    height: 100%;
    padding: 20px 50px 10px;

    &:hover {
        overflow-y: overlay;
    }
}

.rule-container.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #737888;
}

.success-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.success-page .check-icon {
    color: #4ecd77;
    margin-right: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.marker-info-wrapper {
    height: calc(100% - 175px);
    min-height: 450px;
    margin-bottom: 10px;

    .field {
        height: calc(100% / 2);
        margin-bottom: 10px;
    }
}

#markerEditorComponent {
    .field-name {
        margin-bottom: 10px;
    }
}

.field-input {
    width: 100%;
    outline: none;
    padding: 10px 20px;
    background: #35373e;
    border: 1px solid #4e515b;
    color: white;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror.cm-s-darcula {
    background: #35373e;
    border: 1px solid #4e515b;
}

.CodeMirror-vscrollbar {
    &::-webkit-scrollbar-thumb {
        background-color: #333;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #666;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }
}

.btn-group {
    display: flex;
    align-items: center;
}

.rule-header {
    position: fixed;
    height: 80px;
    background: #35373f;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #4e515b;
    color: black;

    .btn-group {
        width: 100%;
        justify-content: space-around;

        .new-rule-btn {
            flex: 1;
        }
    }
}

.start-rule-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .start-btn-wrapper {
        display: flex;
        justify-content: center;
    }

    .links-container {
        display: flex;
        flex-direction: column;

        .start-text {
            text-align: center;
            margin-bottom: 15px;

            &:hover {
                text-decoration: underline;
                color: #007bff;
            }
        }
    }

    .or-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        position: relative;
        height: 38px;

        .line {
            transform: rotate(90deg);
            background: #333333;
            height: 1px;
            width: 14px;
            position: absolute;

            &.top {
                top: 0;
            }

            &.bottom {
                bottom: 0;
            }
        }

        .circle {
            position: absolute;
            height: 25px;
            width: 25px;
            border: 1px solid #333333;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            color: #666666;
        }
    }
}

.list-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
}

input[type="file"] {
    display: none;
}

.file-upload {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-wrapper {
    margin-bottom: 10px;

    &.color {
        position: relative;
    }

    label {
        font-size: 14px;
        color: #737888;
        margin: 0;
    }
}

.label-text {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-arrow {
    position: relative;
    width: 30px;
    height: 31px;
    background: #149b21;
}

.label-arrow:after {
    content: "";
    top: 10px;
    left: 9px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 12px solid white;
}

#import-container {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 270px;
    background: #557c9b;
    border-radius: 3px;
    color: white;
}

.import-caret {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    position: absolute;
    left: -6px;
    top: 25px;
    background: #557c9b;
}

.import-options {
    padding: 10px;
}

.option {
    padding: 10px 0;
}

.option:hover {
    cursor: pointer;
}

.option label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.option:first-child {
    border-bottom: 1px solid #7796af;
}

.option:hover {
    cursor: pointer;
}

.option-btn {
    border: none;
    background: none;
}

.option-desc {
    font-size: 12px;
    padding: 0 5px;
}

.menu-btn {
    border: none;
    background: #0efb5f;
    color: white;
    padding: 5px 15px;
}

.editor-title {
    display: flex;
    font-size: 20px;
    margin-bottom: 5px;
}

.editor-title .tab {
    margin-right: 20px;
    color: #737888;
    font-size: 16px;
    padding: 0 20px;
}

.editor-title .tab:hover {
    cursor: pointer;
}

.editor-title .tab.selected {
    color: white;
    border-bottom: 1px solid #4ecd77;
}

.rule-summary-box {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #35373e;
}

.summary-title {
    font-size: 16px;
}

.summary-value {
    font-size: 96px;
}

.editor-errors {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.editor-errors:empty {
    margin: 0;
}

.editor-errors .err-box {
    display: flex;
    margin-bottom: 10px;
}

.editor-errors .err-box:last-child {
    margin-bottom: 0;
}

.editor-errors .err-box .alert-item {
    margin-right: 20px;
}

.editor-container {
    height: calc(100% - 210px);
    min-height: 150px;

    .editor {
        height: calc(100% - 50px);
        min-height: 100px;
        margin-bottom: 15px;

        .react-codemirror2 {
            height: 100%;
        }
    }

    .tabs {
        display: flex;

        .tab {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            text-align: center;
            color: #737888;
            padding: 5px 0;
            margin-bottom: -1px;

            .error-count {
                margin-left: 5px;
                background: #e24c4b;
                color: white;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 11px;
            }

            &.selected {
                background: #35373e;
                border: 1px solid #4e515b;
                border-bottom: none;
                color: white;
                z-index: 1;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.rule-item-button:hover,
.new-rule-btn:hover,
.file-upload:hover,
.menu-btn:hover,
.title:hover {
    cursor: pointer;
}

.btn:disabled:hover {
    cursor: not-allowed;
}

.busy-rule-indicator {
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-image: url("/img/busy.svg");
    margin-right: 10px;
}

.name-wrapper {
    border: 1px solid #4e515b;
}

.marker-area {
    background: #35373e;
    border: 1px solid #4e515b;
    padding: 10px 10px;
    height: calc(100% - 60px);
    min-height: 150px;
    overflow: hidden;

    &:hover {
        overflow-y: overlay;
    }

    .area-wrapper {
        width: calc(100% - 10px);
        display: flex;
        flex-wrap: wrap;
    }

    &.name-area {
        display: flex;
        align-items: center;
        padding: 0 10px;
        border: none;
        min-height: unset;

        .field-input {
            width: calc(100% - 30px);
            border: none;
        }

        .shape {
            min-width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            font-size: 24px;
        }
    }

    .marker-wrapper {
        margin: 5px;
        padding: 5px;
        border: 1px solid transparent;
        width: 36px;
        height: 36px;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            border: 1px solid white;
        }

        .icon-wrapper {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 0;

            i {
                font-size: 23px;
            }
        }
    }

    .marker-shape {
        &:hover {
            cursor: pointer;
        }
    }
}

.custom-color {
    border: none;
    background: none;
    width: 150px;
    margin-left: 30px;
    color: white;
    text-align: initial;
    padding: 0;
    outline: none;
}

.color-popover {
    position: absolute;
    left: 150px;
    z-index: 100;
    top: 25px;

    .cover {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.marker-shape {
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    width: 20px;
    height: 20px;

    &.check {
        mask: url("/img/markers/check.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/check.svg") no-repeat center / contain;
    }

    &.dislike {
        mask: url("/img/markers/dislike.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/dislike.svg") no-repeat center / contain;
    }

    &.envelope {
        mask: url("/img/markers/envelope.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/envelope.svg") no-repeat center /
            contain;
    }

    &.essay {
        mask: url("/img/markers/essay.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/essay.svg") no-repeat center / contain;
    }

    &.gift {
        mask: url("/img/markers/gift.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/gift.svg") no-repeat center / contain;
    }

    &.hand {
        mask: url("/img/markers/hand.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/hand.svg") no-repeat center / contain;
    }

    &.heart {
        mask: url("/img/markers/heart.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/heart.svg") no-repeat center / contain;
    }

    &.like {
        mask: url("/img/markers/like.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/like.svg") no-repeat center / contain;
    }

    &.megaphone {
        mask: url("/img/markers/megaphone.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/megaphone.svg") no-repeat center /
            contain;
    }

    &.monitor {
        mask: url("/img/markers/monitor.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/monitor.svg") no-repeat center / contain;
    }

    &.notification {
        mask: url("/img/markers/notification.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/notification.svg") no-repeat center /
            contain;
    }

    &.paper-plane {
        mask: url("/img/markers/paper-plane.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/paper-plane.svg") no-repeat center /
            contain;
    }

    &.plus {
        mask: url("/img/markers/plus.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/plus.svg") no-repeat center / contain;
    }

    &.rating {
        mask: url("/img/markers/rating.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/rating.svg") no-repeat center / contain;
    }

    &.rectangle {
        mask: url("/img/markers/rectangle.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/rectangle.svg") no-repeat center /
            contain;
    }

    &.share {
        mask: url("/img/markers/share.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/share.svg") no-repeat center / contain;
    }

    &.shopping-cart {
        mask: url("/img/markers/shopping-cart.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/shopping-cart.svg") no-repeat center /
            contain;
    }

    &.star {
        mask: url("/img/markers/star.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/star.svg") no-repeat center / contain;
    }

    &.triangle {
        mask: url("/img/markers/triangle.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/triangle.svg") no-repeat center /
            contain;
    }
    &.user {
        mask: url("/img/markers/user.svg") no-repeat center / contain;
        -webkit-mask: url("/img/markers/user.svg") no-repeat center / contain;
    }
}
