alerts/error.svg
alerts/info.svg
alerts/warn.svg
browser/green-tick.svg
browser/ordering/order-alph-asc.svg
browser/ordering/order-alph-desc.svg
browser/ordering/order-err-asc.svg
browser/ordering/order-err-desc.svg
browser/ordering/order-warn-asc.svg
browser/ordering/order-warn-desc.svg
browser/power.svg
browser/vertical-flow.svg
check/false.svg
check/true.svg
close.svg
entities/3rdparty/traefik/traefik-ingress-route.svg
entities/3rdparty/traefik/traefik-middleware.svg
entities/3rdparty/traefik/traefik-service.svg
entities/3rdparty/traefik/traefik-tls-options.svg
entities/3rdparty/traefik/traefik.svg
entities/api-cluster.svg
entities/api-version.svg
entities/gateway/domain.png
entities/gateway/gateway.png
entities/gateway/url.png
entities/images/images.svg
entities/images/repository.svg
entities/images/tag.svg
entities/infra/infra.svg
entities/infra/node.svg
entities/infra/nodes.svg
entities/infra/pool.svg
entities/infra/storage.svg
entities/infra/storclass.svg
entities/k8s/api.svg
entities/k8s/c-role.svg
entities/k8s/cm.svg
entities/k8s/crb.svg
entities/k8s/crd.svg
entities/k8s/cronjob.svg
entities/k8s/deploy.svg
entities/k8s/ds.svg
entities/k8s/ep.svg
entities/k8s/event.svg
entities/k8s/group.svg
entities/k8s/hpa.svg
entities/k8s/ing.svg
entities/k8s/job.svg
entities/k8s/limits.svg
entities/k8s/netpol.svg
entities/k8s/node.svg
entities/k8s/ns.svg
entities/k8s/pod.svg
entities/k8s/psp.svg
entities/k8s/pv.svg
entities/k8s/pvc.svg
entities/k8s/quota.svg
entities/k8s/rb.svg
entities/k8s/role.svg
entities/k8s/rs.svg
entities/k8s/sa.svg
entities/k8s/sc.svg
entities/k8s/secret.svg
entities/k8s/sts.svg
entities/k8s/svc.svg
entities/k8s/unknown.svg
entities/k8s/user.svg
entities/k8s/vol.svg
entities/logic/app.svg
entities/logic/cont.svg
entities/logic/image.svg
entities/logic/initcont.svg
entities/logic/launcher.svg
entities/logic/logic.svg
entities/logic/mount.png
entities/logic/mounts.png
entities/logic/port.svg
entities/pack/helm.svg
entities/pack/pack.png
entities/rbac/group.svg
entities/rbac/rbac.svg
entities/rbac/user.svg
entities/unknown.svg
flags/radioactive.svg
flags/shared.svg
flags/xnamespace.svg
info.svg
menu/browser.svg
menu/close.svg
menu/dashboard.svg
menu/guard.svg
menu/markers.svg
menu/open.svg
menu/rules.svg
menu/search.svg
menu/support.svg
menu/validators.svg
popup.svg
props/teleport/bidir.svg
props/teleport/source.svg
props/teleport/source_orig.svg
props/teleport/target.svg
props/teleport/target_orig.svg
rule-engine/busy.svg
search/edit.svg
search/eye.svg
search/hide.svg
separator.svg
summary/applications.svg
summary/clusterCPU.svg
summary/clusterRAM.svg
summary/clusterStorage.svg
summary/clusters.svg
summary/namespaces.svg
summary/nodes.svg
summary/pods.svg
summary/volumes.svg
time-machine/warn.svg
timeline/clock-active.svg
timeline/clock.svg
timeline/history.svg
timeline/left.svg
timeline/minus.svg
timeline/plus.svg
timeline/reset.svg
timeline/right.svg
timeline/view.svg
