.KeyValueList-container {
    .env-variable {
        font: 12px sans-serif;
        padding-top: 5px;

        .name {
            font: 12px sans-serif;
            font-weight: 600;
        }

        .value {
            margin-left: 30px;

            pre {
                color: white;
                margin: 0;
            }
        }
    }
}
