.AlertView-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  font-size: 14px;

  .alerts {
    width: calc(100% - 160px);
  }

  .alert-item {
    min-width: 16px;
    height: 16px;
    background-size: contain;
    margin-right: 10px;
    background-repeat: no-repeat;

    &.warn {
      background-image: url("/img/alerts/warn.svg");
    }

    &.error {
      background-image: url("/img/alerts/error.svg");
    }

    &.info {
      background-image: url("/img/alerts/info.svg");
    }
  }

  .message-container {
    width: 250px;
    word-break: break-word;

    .dn-container {
      width: calc(100% - 250px - 40px);
    }
  }

  .message-group-container {
    .message-container, .dn-container {
      width: 100%;
      max-width: 100%;
    }
  }

  .message-container, .object-container {
    display: flex;
    align-items: center;
  }

  .message-objects .dn-container, .object-container .dn-container {
    margin-left: 0;
  }

  .alert-detail {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .dn-container {
    margin-left: 40px;
    max-width: 500px;

    &:hover {
      cursor: pointer;
    }

    .dn-logo {
      height: 15px;
      width: 15px;
    }

    .dn-part {
      margin-right: 5px;

      &:after {
        content: " >";
      }

      &:last-child {
        margin-right: 0;

        &:after {
          content: none;
        }
      }
    }
  }

  .message-objects {
    padding-left: 40px;
  }

  .group-options {
    width: 160px;

    .option {
      display: flex;
      justify-content: center;
      border: 1px solid #666666;
      color: #666666;
      padding: 3px 5px;
      margin-bottom: 5px;

      &.selected {
        border: 1px solid white;
        color: white;
      }
    }
  }
}
