$timelineYellow: rgb(252, 189, 63);

.timeline svg .changes {
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
}

.size-to-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.chart-view {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chart {
    margin-top: -100px;
    max-height: 150px !important;
    height: 150px !important;
    width: calc(100% - 20px) !important;
    margin-bottom: 5px;
    svg {
        width: 100%;
        height: 150px;
    }

    & > svg:nth-of-type(1) > g:nth-of-type(1) {
        display: none;
    }
}

.c3-event-rects {
    cursor: default !important;
}

.main-chart {
    max-height: 100% !important;
    height: 100% !important;
    z-index: 10;

    svg {
        width: 100%;
        height: 100%;
    }

    & > svg:nth-of-type(1) > g:nth-of-type(2) {
        transform: translate(10px, 0px);
    }
}

.c3-tooltip-container {
    background: #cccccc99;
}

.c3-chart-line {
    fill: transparent;
}

.c3-brush .selection {
    fill: black;
    fill-opacity: 0.6;
}

.tick, .c3-legend-item {
    fill: white;
    font-size: 12px;
}

.custom-tooltip {
    background-color: #ffffffaa;
    color: #3a1b1b;
    padding: 0 10px;
    line-height: 15px;
    font-size: 12px;
    padding-top: 5px;
}
.custom-tooltip p {
    margin-bottom: 0;
}

.activate-info {
    font-weight: 500;
    font-size: 14px;
}

.c3-selected-circle {
    opacity: 0;
}

.hover-line {
    stroke-width: 2;
    stroke: gray;
}

.selected-time-bottom {
    font-size: 20px;
}

.selected-time-top {
    font-size: 40px;
}

.timeline svg .alerts {
    fill: #b77;
    opacity: 0.8;
}

.main-chart svg .selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
    cursor: col-resize;
}

#chart svg .selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
}

.timeline.size-to-parent {
    display: flex;
}

a:focus {
    outline: none;
}
