$timelineYellow: rgb(252, 189, 63);

.timeline svg .changes {
    stroke: #fff;
    stroke-width: 2px;
    fill: none;
}

.size-to-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.chart-view {
    width: calc(100% - 60px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#chart {
    margin-top: -70px;
    max-height: 150px !important;
    height: 150px !important;
    svg {
        width: 100%;
        height: 150px;
    }
}


#chart > svg:nth-of-type(1) > g:nth-of-type(1) {
    display: none;
}

.c3-event-rects {
    cursor: default !important;
}

.main-chart {
    max-height: 100% !important;
    height: 100% !important;
    z-index: 10;

    svg {
        width: 100%;
        height: 100%;
    }
}

.c3-tooltip-container {
    background: #cccccc99;
}

.c3-chart-line {
    fill: transparent;
}

.c3-brush .selection {
    fill: black;
    fill-opacity: 0.6;
}

.tick, .c3-legend-item {
    fill: white;
    font-size: 12px;
}

.custom-tooltip {
    background-color: #ffffffaa;
    color: #3a1b1b;
    padding: 0 10px;
    line-height: 15px;
    font-size: 12px;
    padding-top: 5px;
}
.custom-tooltip p {
    margin-bottom: 0;
}

.activate-info {
    font-weight: 500;
    font-size: 14px;
}

.c3-selected-circle {
    opacity: 0;
}

.hover-line {
    stroke-width: 2;
    stroke: gray;
}

.selected-time-bottom {
    font-size: 20px;
}

.selected-time-top {
    font-size: 40px;
}

.timeline svg .alerts {
    fill: #b77;
    opacity: 0.8;
}

.main-chart svg .selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
    cursor: col-resize;
}

#chart svg .selector * {
    fill: $timelineYellow;
    stroke-width: 2;
    stroke: $timelineYellow;
}

.timeline.size-to-parent {
    display: flex;
}

a:focus {
    outline: none;
}

.tl-actions a.timemachine .tooltiptext, .tl-actions a.reset .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    right: -10px;
  z-index: 1;
  font-size: 12px;
  margin-top: 30px;
}

.tl-actions a.timemachine:hover .tooltiptext, .tl-actions a.reset:hover .tooltiptext {
    visibility: visible;
      opacity: 1;
    }

.tl-actions {
    padding: 15px 0 0 15px;
    border-left: solid 1px #35373E;
    margin-left: 10px;

    a {
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        margin: 3px;
        border-radius: 2px;
        cursor: pointer;

        &.reset {
            background: #292A2F url('/img/timeline/reset.svg') center center no-repeat;
            background-size: 16px;

            &:hover {
                background: #35373E url('/img/timeline/reset.svg') center center no-repeat;
            }
        }

        &.timemachine {
            background: #292A2F url('/img/timeline/clock.svg') center center no-repeat;
            background-size: 20px;

            &:hover {
                background: #35373E url('/img/timeline/clock.svg') center center no-repeat;
                background-size: 20px;
            }

            &.active {
                background: $timelineYellow url('/img/timeline/clock-active.svg') center center no-repeat;
                background-size: 20px;
            }
        }
    }
}
