@import "styles/fonts";

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  background: #1E1E1E;
  color: #FFF;
  margin: 0;
}

#root {
  height: 100vh;
}

div {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

div {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #666;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #f2a81c;
  }
}
