.mainContainer {
    box-sizing: border-box;
    padding: 0px;
    position: relative;
    background: #2f3036;
    /* min-height: 100vh;
    max-width: 100vw; */
    /* width: 100%; */
    /* height: 100%; */

    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
}

.mainComponent {
    flex-grow: 1;
    box-sizing: border-box;
    /* padding: 40px; */

    position: relative;
    /* height: 100%; */
    /* width: 100%; */
}