.container {
    background-color: #212122;
    padding: 20px 20px 20px 20px ;
    margin: 10px;

    box-sizing: border-box;
}

.header {

}

.headingText {

}


.innerContent {
    display: flex;
    flex-direction: column;
    /* max-width: 900px; */
    gap: 10px;
}
